<!--The content below is only a placeholder and can be replaced.-->
<div class='container c1'  style='text-align:center'>
  <div class='row' style="text-align: center">
    <div class="col-md-12" style="font-size: 22px">About</div>
    <br><br>
    <p><b>Click on O to continue</b></p>
    <br>
  </div>
  <div class="row" style="text-align: center">
    <div>
      <div class="panel panel-default">
        <a [routerLink]="['region']" class="btn btn-primary">O</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
